<div>
    <main>
        <h1>
            Olá e seja bem vindo a AbbyLibrary
        </h1>
        <p>
            Este site tem <strong>três objetivos</strong>:
        </p>
        <ul>
            <li>Primeiro - Ser um treino para meus estudos de Angular</li>
            <li>Segundo - Ser um portfólio para os meus contos e qualquer outra criação literaria</li>
            <li>Terceiro - Ser um método de compartilhar tais criações</li>
        </ul>
        <p>Com isso dito, espero que possa aproveitar seu tempo por aqui e apreciar todo o conteúdo. Sem mais delongas, divirta-se</p>
    </main>

    <aside>
        <div class="slider">
            <div><h1>A</h1></div>
            <div><h1>B</h1></div>
            <div><h1>C</h1></div>
            <div><h1>D</h1></div>
        </div>
    </aside>

</div>

